* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
body {  
  padding: 60px;
}
input {
  width: 100%;
  color: rebeccapurple;
  font-size: 1.2em;
}
.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  /* border no se salgan del contenedor */
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card p{
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 150px;
}

